*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #282d31;
  font-weight: 300;
  line-height: 1.6; }

.body {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh minmax(10rem, max-content); }
  @media only screen and (max-width: 62.5em) {
    .body {
      grid-template-columns: 100vw;
      grid-template-rows: 7rem calc(100vh - 7rem) minmax(10rem, max-content); } }

.header-2 {
  padding: 1rem;
  font-size: 3rem;
  font-weight: 900;
  color: #fcf4e9;
  text-align: center; }

.header-3 {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 900;
  color: #fcf4e9;
  text-align: center; }

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/back-ground.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3; }
  @media only screen and (max-width: 62.5em) {
    .header {
      grid-column: 1 / -1;
      grid-row: 2 / 3; } }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header__link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #1baa80;
    padding: 1.5rem 5rem;
    border-radius: 5rem;
    border: 3px solid #20c997;
    margin-top: 2rem;
    transition: all .5s; }
  .header__link:hover, .header__link:focus {
    color: #fcf4e9;
    background-color: #20c997; }

.typing_title {
  padding: 2rem; }

.typing_title .text {
  letter-spacing: 0.4rem;
  position: relative;
  font-size: 5rem;
  font-weight: bold;
  color: #fcf4e9; }

.typing_title .text.first-text {
  color: #20c997; }

.icon-down {
  text-decoration: none;
  font-size: 5rem;
  font-weight: 900;
  color: #909294;
  animation: UpDown 2s infinite; }

@keyframes UpDown {
  0%, 100% {
    transform: translateY(0) rotate(90deg); }
  50% {
    transform: translateY(5rem) rotate(90deg); } }

.nav_bar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #111418;
  position: fixed;
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5; }
  @media only screen and (max-width: 62.5em) {
    .nav_bar {
      flex-direction: row;
      position: fixed;
      width: 100%;
      height: 7rem; } }
  .nav_bar__img {
    display: block;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border: 1rem solid #212529; }
    @media only screen and (max-width: 62.5em) {
      .nav_bar__img {
        height: 6.5rem;
        width: 6.5rem;
        border: 0px;
        margin: 0 1rem; } }
  @media only screen and (max-width: 62.5em) {
    .nav_bar .header-2 {
      margin-right: auto; } }
  .nav_bar__list {
    list-style: none;
    text-align: center;
    transition: all .5s; }
    @media only screen and (max-width: 62.5em) {
      .nav_bar__list {
        padding: 1rem;
        position: fixed;
        height: 0;
        top: 7rem;
        left: 0;
        background-color: rgba(17, 20, 24, 0.9);
        width: 100%;
        opacity: 0;
        overflow: scroll;
        text-align: left; } }
  .nav_bar__checkbox {
    display: none; }
  .nav_bar__item {
    padding: .8rem;
    font-size: 2rem;
    font-weight: 700; }
    @media only screen and (max-width: 62.5em) {
      .nav_bar__item {
        border-bottom: 1px solid rgba(252, 244, 233, 0.25); } }
  .nav_bar__link {
    text-decoration: none;
    color: #909294; }
    @media only screen and (max-width: 62.5em) {
      .nav_bar__link {
        color: #fcf4e9; } }

.nav-bar__btn {
  display: none; }

@media only screen and (max-width: 62.5em) {
  .nav-bar__btn {
    display: block;
    margin-right: 1rem;
    background-color: #fcf4e9;
    height: 2px;
    width: 4.5rem;
    display: block; }
    .nav-bar__btn::before, .nav-bar__btn::after {
      content: "";
      background-color: #fcf4e9;
      height: 2px;
      width: 4.5rem;
      display: block; }
    .nav-bar__btn::before {
      transform: translateY(-1.5rem); }
    .nav-bar__btn::after {
      transform: translateY(-0.3rem); }
  .nav_bar__checkbox:checked ~ .nav_bar__list {
    height: 40vh;
    opacity: 1; } }

.about_me {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #212529;
  padding: 5rem 3rem; }
  @media only screen and (max-width: 62.5em) {
    .about_me {
      grid-row: 3 / 4;
      grid-column: 1 / 2; } }
  .about_me__text {
    font-size: 2rem;
    color: #fcf4e9;
    padding: 1rem; }
  .col-md-5 .about_me__text:not(:last-child) {
    border-bottom: 1px solid rgba(32, 201, 151, 0.25); }
  .about_me .header-3 {
    text-align: left; }
