.contact {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    background-color: $color-grey-dark-1;
    padding: 5rem 3rem;

    @media only screen and (max-width : $bp-large){
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }

    &__link {
        text-decoration: none;
    }

    & .header-2 {
        margin: 5rem 0;
    }

    & .header-3 {
        padding: .5rem;
        text-align: right;
    }

    &__address {
        margin-top: 1rem;
        display: flex;
        // padding: 1rem 0rem;
        align-items: center;
    }



    &__icon {
        height: 5rem;
        width: 5rem;
        fill: $color-primary;
        padding: 1rem;
        margin-right: 1rem;
    }

    &__icon--gray {
        height: 5rem;
        width: 5rem;
        padding: 1rem;
        margin-right: 1rem;
        fill: $color-grey-light-2;
    }

    &__icon--gray:hover {
        fill: $color-primary;
    }


    &--address {
        font-size: 1.7rem;
        font-weight: 600;
        color: $color-grey-light-1;
    }

    &__input {
        width: 100%;
        border: none;
        height: 5rem;
        border-radius: 5px;
        background-color: $color-grey-dark-2;
        font-size: 2rem;
        color: $color-grey-light-1;

        &::placeholder {
            padding: 0rem 1rem;
          }
    }

    &__input:focus {
        outline: none;
        box-shadow: 0 .5rem 2rem rgba($color-grey-light-2, .2);
    }



    &__textarea {
        width: 99%;
        border: none; 
        border-radius: 5px;
        background-color: $color-grey-dark-2;
        font-size: 2rem;
        padding:1rem;
        color: $color-grey-light-1;

    }

    &__textarea:focus {
        outline: none;
        box-shadow: 0 .5rem 2rem rgba($color-grey-light-2, .2);
    }

    &__btn {
        margin-top: 2rem;
        padding: 1rem 3rem;
        border-radius: 5rem;
        background-color: $color-primary;
        color: $color-grey-light-1;
        font-size: 1.5rem;
        font-weight: 600;
        border: none;
        box-shadow: 0 .5rem 2rem rgba($color-grey-light-2, .2);
        transition: all .2s;
    }

    &__btn:hover {
        box-shadow: 0 .75rem 2rem rgba($color-grey-light-2, .2);
        transform: translateY(-3px);
        background-color: $color-primary-dark;
    }

    &__btn:focus {
        box-shadow: 0 .5rem 2rem rgba($color-grey-light-2, .2);
        transform: translateY(-1px);
        background-color: $color-primary-dark;
    }
   
}