.nav_bar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: $color-secondary;
    position: fixed;
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    @media only screen and (max-width: $bp-large){
        flex-direction: row;
        position: fixed;
        justify-content: space-around;
        width: 100%;         
        height: 7rem;
        }



    &__img {
        display: block;
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        border: 1rem solid $color-grey-dark-1;

        @media only screen and (max-width: $bp-large){
            height: 6.5rem;
            width: 6.5rem;
            border: 0px;
            margin: 0 1rem;
        }
    }

    & .header-2 {
        @media only screen and (max-width: $bp-large){
            margin-right: auto;
        }

    }


    &__list {
        list-style: none;
        text-align: center;
        transition: all .5s;
        @media only screen and (max-width: $bp-large){
            padding: 1rem;
            position: fixed;
            height: 0;
            top: 7rem;
            left: 0;
            background-color: rgba($color-secondary, $alpha: 0.9);
            width: 100%;
            opacity: 0;
            overflow: scroll;
            text-align: left;
        }
    }

    &__checkbox {
        display: none;
    }

    &__item {
        padding: .8rem;
        font-size: 2rem;
        font-weight: 700;
        @media only screen and (max-width: $bp-large){
           border-bottom: 1px solid rgba($color-grey-light-1, 0.25);
        }
    }

    &__link {
        text-decoration: none;
        color: $color-grey-light-2;
        @media only screen and (max-width: $bp-large){
            color: $color-grey-light-1;
        }
    }

    &__link:hover {
        color: $color-primary;
    }
}

.nav-bar__btn {display: none;}
@media only screen and (max-width: $bp-large){
    .nav-bar__btn {
        display: block;
        margin-right: 3rem;


        background-color: $color-grey-light-1;
        height: 2px;
        width: 4.5rem;
        display: block;
    
        &::before,
        &::after {
            content: "";
            background-color: $color-grey-light-1;
            height: 2px;
            width: 4.5rem;
            display: block;
        }
    
        &::before {transform: translateY(-1.5rem);}
        &::after {transform: translateY(-.3rem);}
    } 

    .nav_bar__checkbox:checked ~ .nav_bar__list {
        height: 20rem;
        opacity: 1;
    }

}

