.nav_bar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: $color-secondary;
    position: fixed;
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__img {
        display: block;
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        border: 1rem solid $color-grey-dark-1;
    }


    &__list {
        list-style: none;
        text-align: center;
    }

    &__item {
        padding: .8rem;
        font-size: 2rem;
        font-weight: 700;

    }

    &__link {
        text-decoration: none;
        color: $color-grey-light-2;
    }

}