.resume {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    background-color: $color-grey-dark-1;
    padding: 5rem 3rem;

    @media only screen and (max-width : $bp-large){
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }



    & .header-2 {
        margin: 8rem 0;
    }

    & .header-3 {
        padding: .5rem;
        text-align: left;
    }

    

   

    &__card {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        background-color: $color-secondary;
        align-items: start;
        border-radius: 5px;
        margin-bottom: 3rem;

        &--year {
            font-size: 1.5rem;
            font-weight: 600;
            padding: .5rem;
            border-radius: 5px;
            color: $color-grey-light-1;
            background-color: #dc3545;
        }

        &--place {
            font-size: 2rem;
            font-weight: 600;
            color: $color-primary;
            padding: .5rem;
            margin-bottom: 1.5rem;
        }

        &--text {
            font-size: 1.5rem;
            color: $color-grey-light-1;
            padding: .5rem;
        }

    }

    & .progress-bar {
        background-color: $color-primary;
    }

    & .text-light{
        font-size: 1.5rem;
        font-weight: 600;
    }
}