.services {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-color: $color-grey-dark-2;
    padding: 5rem 3rem;


    @media only screen and (max-width : $bp-large){
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    &__text {
        font-size: 2rem;
        
        color: $color-grey-light-1;
    }

    &__icon {
        float: right;
        height: 10rem;
        width: 10rem;
        padding: 2rem;  
        background-color: $color-grey-dark-1;
        border-radius: 5px;
        fill: $color-primary;

    }

    & .header-3 {
        text-align: left;
    }

    & .header-2 {
        margin: 10rem 0;
    }
}
